extends layout

block content
  h1 Jason's RESTful API
  h2 FCC Time Microservice
  p Example Usage
  code To display normal time : localhost:3000/1239493000
  br
  code To display unix time : http://localhost:3000/01%20august%202016
